# ----- 临时资料 ----------------------
# 暂无。





# ----- 仅面向研发阶段的诸配置文件 -------
.vs/**/*
.vscode
.markdownlint.json





# ----- 仅面向研发阶段的诸工具 ----------
用于研发阶段的命令行工具





# ----- 文档集 ------------------------
文档集/

# 下面这行无效。因为 npm 发布一个包时，如果找到根文件夹下的 ReadMe.html 会强行将其纳入发布内容集中。
# ReadMe.html

# 故意发布该文件，以便其它项目直接复制采用。
# .Push-将代码依次推送至多个集得源.ps1

# 故意发布该文件，以便其它项目直接复制采用。
# push-将代码依次推送至多个集得源.sh





# ----- 测试集 ------------------------
# 暂无。





# ----- 不必发布的源代码 ---------------
package-lock.json
